# Add @OWNER_NAME as an owner of OPA Gatekeeper constraints and templates
ci-pipeline/config-root/cluster/*-constraint.yaml @OWNER_NAME
ci-pipeline/config-root/cluster/*-template.yaml @OWNER_NAME
ci-pipeline-unstructured/config-root/constraints @OWNER_NAME
